@font-face {
    font-family: 'Cafe24Meongi-W-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Decoshadow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.chart__title {
    padding: 20px 40px;
    background-color: #0d3286;

    .title__h1 {
        font-size: 140px;
        color: white;
        text-align: center;
        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
        margin: -30px;
        margin-top: 10px;
    }
}

.wrapper {
    margin: 0 auto 100px auto;
    max-width: 1280px;
}

.cont__label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* 간격을 줄임 */
    margin: -20px;
    margin-top: 45px;

    .cont01,
    .cont02 {
        .cont__p {
            color: #0d3286;
            font-size: 20px;
            font-family: var(--fontX);
            font-weight: bold;
        }
    }

    .cont01 {
        display: flex;
        align-items: center;

        .cont__select {
            padding: 10px 10px;
            border-radius: 10px;
            margin: 0 10px;
        }
    }

    .cont02 {
        display: flex;
        align-items: center;

        .cont__input {
            padding: 10px 10px;
            border-radius: 10px;
            border: 1px solid;
            margin: 0 10px;
        }
    }
}

.stage {
    list-style: none;
    padding: 0;
}

@media (max-width: 960px) {
    #root {
        height: 200px;
    }

    .chart__title .title__h1 {
        font-size: 100px;
        padding: 15px 30px;
        /* 줄어든 패딩 */
    }

    .cont__label {
        margin-top: 80px;
        /* 더 많은 margin-top */
        justify-content: center;
        gap: 30px;
        /* 줄어든 gap */
    }

    .cont01,
    .cont02 {
        .cont__p {
            font-size: 16px;
        }

        .cont__select,
        .cont__input {
            padding: 8px;
            margin: 0 5px;
        }
    }
}

@media (max-width: 768px) {
    #root {
        height: 180px !important;
        /* 크기를 줄입니다. */
    }

    .chart__title .title__h1 {
        font-size: 80px;
        padding: 10px 20px;
        /* 줄어든 패딩 */
    }

    .cont__label {
        margin-top: 45px;
        /* 더 많은 margin-top */
        justify-content: center;
        gap: 20px;
        /* 줄어든 gap */
    }

    .cont01,
    .cont02 {
        .cont__p {
            font-size: 14px;
        }

        .cont__select,
        .cont__input {
            padding: 6px;
            margin: 0 5px;
        }
    }
}

@media (max-width: 560px) {
    #root {
        height: 170px !important;
        /* 크기를 더 줄입니다. */
    }

    .chart__title .title__h1 {
        padding: 8px 15px;
        /* 줄어든 패딩 */
    }

    .cont__label {
        margin-top: 45px;
        justify-content: center;
        gap: 10px;
        /* 줄어든 gap */
    }

    .cont01,
    .cont02 {
        .cont__p {
            font-size: 12px;
        }

        .cont__select,
        .cont__input {
            padding: 5px;
            margin: 0 3px;
        }
    }
}

@media (max-width: 480px) {
    #root {
        height: 130px !important;
        /* 크기를 더 줄입니다. */
    }

    .chart__title .title__h1 {
        font-size: 50px;
        padding: 5px 10px;
        /* 줄어든 패딩 */
    }

    .cont__label {
        margin-top: 30px;
        justify-content: center;
        /* margin-top을 더 줍니다. */
        gap: 5px;
        /* 줄어든 gap */
    }

    .cont01,
    .cont02 {
        .cont__p {
            font-size: 10px;
        }

        .cont__select,
        .cont__input {
            padding: 4px;
            margin: 0 2px;
        }
    }
}