@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
    font-weight: 700;
}

#root {
    background-color: #0d3286;
    height: 241px;
    width: 100%;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
    margin-bottom: 3rem;
}

.scene {
    width: 240px;
    height: 400px;
    margin: 20px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 260px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(-130px);
    transition: transform 350ms;
}

.card:hover {
    transform: rotateY(-78deg) translateZ(20px);
}

.card .poster,
.card .info {
    position: absolute;
    width: 260px;
    height: 400px;
    backface-visibility: hidden;
    background-color: #fff;
}

.card .poster {
    transform: translateZ(130px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    overflow: hidden;
}

.card .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .info {
    transform: rotateY(90deg) translateZ(130px);
    border: 1px solid #b8b5b5;
    font-size: 1rem;
    overflow: hidden;
}

.card::after {
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    transform-origin: 100% 100%;
    transform: rotateX(90deg) translateY(130px);
    transition: box-shadow 350ms;
}

.card:hover::after {
    box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

.card .info header {
    color: #000;
    padding: 7px 10px;
    height: 195px;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.card .info header h1 {
    margin: 0 0 2px;
    font-size: 2em;
    color: #fff;
    background-color: #0d3286;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;
    padding-left: 20px;
}

.card .info header .value {
    border: 1px solid #FFF;
    padding: 0px 3px;
}

.card .info p {
    padding: 1.2em 1.4em;
    margin: 2px 0 0;
    font-weight: 700;
    color: #000;
    line-height: 1.4em;
    border-top: 5px solid #0d3286;
    word-wrap: break-word;
    word-break: break-word;
}

.card .poster,
.card .info,
.card .info header {
    transition: box-shadow 350ms;
}

.card .poster {
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.card:hover .poster {
    box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}

.card .info,
.card .info header {
    box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.card:hover .info,
.card:hover .info header {
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: auto;
}

.modal_left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.modal_left .card__effect {
    width: 500px;
    height: 700px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.modal_left .card__effect img {
    width: 100%;
    height: 100%;
}

.modal_left .closeButton {
    position: fixed;
    top: 9px;
    right: 29px;
    background-color: transparent;
    border: none;

    svg {
        width: 300%;
        height: 300%;
        color: white;
    }
}

.linkButton {
    width: 500px;
    background-color: #0d3286;
    color: #fff;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    padding: 15px 20px;
    border-radius: 10rem;
    border: 1px solid #0d3286;
}

.modal_left .modal_right {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(89%, -59%);
    margin-top: 12.5rem;
    z-index: 10;
}

.modal_left:hover .modal_right {
    // left: 50%;
    opacity: 1;
}

.modal_left .modal_right .modal_content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.modal_left .modal_right .modal__rank,
.modal_left .modal_right .modal__title,
.modal_left .modal_right .modal__date {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_left .modal_right .modal__change {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #698cdd;
}

.modal_left .modal_right .modal__venue {
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 1200px) {
    .scene {
        width: 30%;
    }
}

@media (max-width: 960px) {
    .scene {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .scene {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .scene {
        width: 90%;
    }
}

// card효과
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  body {
    min-height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card__effect {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card__effect::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card__effect::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
